<div class="container-fluid">
    <app-nav></app-nav>
</div>

<div class="container-flui mt-3">
    <div class="row g-2">
        <div class="col-md-2 mb-2">
            <div class="card border-0 p-0 shadow">
                <div class="card-body p-2">
                    <app-fieldwork-side-bar></app-fieldwork-side-bar>
                </div>
            </div>
        </div>
        <!-- Right side content -->
        <div class="col-md-10">
            <div class="card py-1 border-0">
                <div class="card-body py-1">

                    <div class="row mb-2 align-items-center">
                        <div class="col-md-3">
                            <span class="fw-bold text-danger">
                                Move To HRMS
                                <!-- <i [ngClass]="'bi bi-' + (originalRows.length) + '-circle-fill'"></i> -->
                                <span class="badge badge-light  badge bg-danger text-white">{{rows.length}}</span>
                            </span>
                        </div>
                        <div class="col-md-9 d-flex justify-content-end align-items-center">

                            <input type="search" class="form-control form-control-sm search-input" placeholder="Search"
                                [formControl]="searchQuery" aria-level="Search"
                                style="max-width: 150px; margin-right: 20px; font-size: 13px;">
                            <!-- <i class="fa fa-search"></i> -->
                            <button type="button" (click)="whatsapp()" class="btn mr-2 btn-sm custom-bg text-light">
                                send whatsapp message
                            </button>
                            <button type="button" (click)="toggleOffcanvas()" class="btn btn-sm custom-bg text-light">
                                Filter Options
                            </button>
                        </div>
                    </div>
                    <div class="scroll-container p-0">
                        <table class="table table-bordered">
                            <thead class="custom-bg">
                                <tr class="text-light">
                                    <th class="small-header-th">
                                        <input class="small-header-th" type="checkbox" [(ngModel)]="selectAll"
                                            (change)="toggleAllSelection()">
                                    </th>
                                    <th *ngFor="let col of columns" class="small-header-th sticky-col"
                                        [ngClass]="{'text-center': col.center}">
                                        {{ col.label }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="paginatedRows.length > 0; else noData">
                                <tr *ngFor="let row of paginatedRows">
                                    <td class="small-header">
                                        <input class="small-header" type="checkbox" [(ngModel)]="row.selected"
                                            (change)="checkSelection()">
                                    </td>
                                    <td *ngFor="let col of columns" class="small-header"
                                        [ngClass]="{'text-uppercase': col.uppercase, 'text-center': col.center}">

                                        <ng-container *ngIf="col.key === 'status'; else default">
                                            <span *ngIf="row.status === 1001" class="text-success fw-bold">Open</span>
                                            <span *ngIf="row.status === 1003" class="text-info fw-bold">Hold</span>
                                            <span *ngIf="row.status === 1005" class="text-danger fw-bold">Closed</span>
                                        </ng-container>

                                        <ng-template #default>
                                            <ng-container *ngIf="col.key === 'employeeid'; else normal">
                                                <button class="border-none custom-bg text-white custom-action-btn px-2"
                                                    (click)="handleAction(row.employeeid)">
                                                    View
                                                </button>
                                            </ng-container>
                                            <ng-template #normal>
                                                <span [innerHTML]="highlightMatch(row[col.key])"></span>
                                            </ng-template>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                            <ng-template #noData>
                                <tbody>
                                    <tr>
                                        <td [attr.colspan]="columns.length+1">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <div class="">
                                                    <!-- No data available -->
                                                    <img [src]="dataNotFoundGif" width="150px" height="150px"  alt="No Data Found">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </ng-template>
                        </table>
                    </div>
                    <!-- Pagination Controls -->
                    <hr *ngIf="rows.length > 0" class="custom-hr mb-2 mt-1">
                    <div class="d-flex justify-content-between align-items-center mt-1" *ngIf="rows.length > 0">
                        <span class="small badge bg-secondary text-white">
                            Showing {{ startIndex }} to {{ endIndex }} of {{ rows.length }} Records
                        </span>

                        <button type="button" (click)="moveToHRMS()" class="btn btn-sm custom-bg text-light">
                            Move To HRMS
                        </button>

                        <ul class="pagination pagination-sm mb-1">
                            <!-- Always show Previous button but disable if on first page -->
                            <li *ngIf="totalPages !== 1" class="page-item" [class.disabled]="currentPage === 1">
                                <button type="button" class="border-none text-white custom-action-btn px-2 py-1 mr-2"
                                    (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"
                                    [ngClass]="{'custom-bg': currentPage > 1, 'bg-secondary': currentPage === 1}">
                                    <i class="bi bi-chevron-left"></i>
                                </button>
                            </li>

                            <li class="page-item mr-2">
                                <span class="px-3 py-1 small text-dark fw-bold border rounded bg-light">
                                    Page {{ currentPage }} of {{ totalPages }}
                                </span>
                            </li>
                            <!-- Always show Next button but disable if on last page -->
                            <li *ngIf="totalPages !== 1" class="page-item"
                                [class.disabled]="currentPage === totalPages">
                                <button type="button" class="border-none text-white custom-action-btn px-2 py-1 mr-2"
                                    (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages"
                                    [ngClass]="{'custom-bg': currentPage < totalPages, 'bg-secondary': currentPage === totalPages}">
                                    <i class="bi bi-chevron-right"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- loader -->
<div class="loader attDnceLoadr" *ngIf="">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>


<div class="offcanvas-right" [class.show]="isOpen">
    <div class="offcanvas-header">
        <h5 class="custom-text fw-bold">Filter </h5>
        <button type="button" class="close" (click)="closeOffcanvas()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container mt-3">
        <!-- Name Filter -->
        <div class="form-group">
            <label for="nameFilter">Select Name</label>
            <select class="form-control form-control-sm" id="nameFilter">
                <option value="">Select</option>
                <option value="rajender">Rajender</option>
                <option value="sisisha">Sirisha</option>
                <option value="anusha">Anusha</option>
                <option value="durga">Durga</option>
            </select>
        </div>

        <!-- Date Filter -->
        <div class="form-group">
            <label for="dateFilter">Select Date</label>
            <input type="date" class="form-control form-control-sm" id="dateFilter">
        </div>

        <!-- Category Filter -->
        <div class="form-group">
            <label for="categoryFilter">Category</label>
            <select class="form-control form-control-sm" id="categoryFilter">
                <option value="">Select</option>
                <option value="category1">Category 1</option>
                <option value="category2">Category 2</option>
                <option value="category3">Category 3</option>
            </select>
        </div>

        <!-- Buttons -->
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-sm custom-bg text-light w-100" (click)="applyFilter()">Filter</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-sm btn-danger w-100" (click)="closeOffcanvas()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #aboutCandidateDialog>
    <div class="animate-zoom">
        <div class="container">
            <div class="row mb-2 align-items-center">
                <div class="col-md-3">
                    <span *ngIf="candidateData?.basicDetails?.firstName" class="fw-bold custom-text">Candidate
                        Details</span>
                    <span *ngIf="!candidateData?.basicDetails?.firstName" class="fw-bold custom-text">Details</span>
                </div>
                <div class="col-md-9 d-flex justify-content-end align-items-center">
                    <button type="button" class="border-none bg-warning text-white custom-action-btn px-2 py-1 mr-2"
                        (click)="sendRemainder()">
                        Send Remainder <i class="bi bi-bell"></i>
                    </button>
                    <span class="text-danger mr-2 fs-custom">NA (Not Applicable) </span>
                    <span class="cursor-pointer Hover" (click)="close()">
                        <i class="bi bi-x-circle"></i>
                    </span>
                </div>
            </div>
            <!-- <hr class="m-0 p-0 text-dark border mb-2"> -->
            <hr class="custom-hr mb-2">


            <div *ngIf="candidateData?.basicDetails?.firstName; else noCandidateData" class="scroll-container">
                <div class="card p-2 mb-3">
                    <span class="custom-text text-decoration-underline"><strong>Basic Details</strong></span>
                    <div class="row">
                        <div class="col-md-4"><strong>Name:</strong> {{ candidateData.basicDetails.firstName }} <span>{{
                                candidateData.basicDetails.lastName }}</span></div>
                        <div class="col-md-3"><strong>Gender:</strong> {{ candidateData.basicDetails.gender }}</div>
                        <div class="col-md-3"><strong>Mobile:</strong> {{ candidateData.basicDetails.mobileNumber }}
                        </div>
                        <div class="col-md-2"><strong>DOB:</strong> {{ candidateData.basicDetails.dateOfBirth }}</div>
                        <div class="col-md-4"><strong>Email:</strong> {{ candidateData.basicDetails.email }}</div>
                        <div class="col-md-4"><strong>Marital Status:</strong> {{
                            candidateData.basicDetails.maritalStatus }}</div>
                    </div>
                </div>

                <div class="card p-2 mb-3">
                    <span class="custom-text text-decoration-underline"><strong>Communication Address</strong></span>
                    <span>{{ candidateData.communicationAddress.communicationAddress1 }}, {{
                        candidateData.communicationAddress.communicationAddress2 }}, {{
                        candidateData.communicationAddress.communicationAddress3 }}</span>
                    <span><strong>City:</strong> {{ candidateData.communicationAddress.communicationCity }},
                        <strong>State:</strong> {{ candidateData.communicationAddress.communicationState }}</span>
                    <span><strong>Postal Code:</strong> {{ candidateData.communicationAddress.communicationPostalCode
                        }}</span>
                </div>

                <div class="card p-2 mb-3">
                    <span class="custom-text text-decoration-underline"><strong>Permanent Address</strong></span>
                    <span>{{ candidateData.permanentAddress.permanentAddress1 }}, {{
                        candidateData.permanentAddress.permanentAddress2 }}, {{
                        candidateData.permanentAddress.permanentAddress3
                        }}</span>
                    <span><strong>City:</strong> {{ candidateData.permanentAddress.permanentCity }},
                        <strong>State:</strong> {{
                        candidateData.permanentAddress.permanentState }}</span>
                    <span><strong>Postal Code:</strong> {{ candidateData.permanentAddress.permanentPostalCode }}</span>
                </div>

                <div class="card p-2 mb-3">
                    <span class="custom-text text-decoration-underline"><strong>Salary Expectation</strong></span>
                    <span><strong>Current Salary:</strong> ₹{{ candidateData.salaryExpectation.currentSalary }}</span>
                    <span><strong>Expected Salary:</strong> ₹{{ candidateData.salaryExpectation.expectedSalary }}</span>
                    <span><strong>Job Description:</strong> {{ candidateData.salaryExpectation.suitableJobDescription
                        }}</span>
                </div>

                <div class="card p-2 mb-3">
                    <span class="custom-text text-decoration-underline"><strong>Education</strong></span>
                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <tr class="small-header">
                                <th>Type</th>
                                <th>University</th>
                                <th>Qualification</th>
                                <th>Year</th>
                                <th>Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let edu of candidateData.education">
                                <td class="small-header">
                                    {{ edu.educationType === '1' ? 'Regular' : edu.educationType === '2' ?
                                    'Correspondence' : 'Unknown' }}
                                </td>
                                <td class="small-header">{{ edu.university }}</td>
                                <td class="small-header">{{ edu.qualification }}</td>
                                <td class="small-header">{{ edu.yearOfPassing }}</td>
                                <td class="small-header">{{ edu.percentage }}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card p-2 mb-3">
                    <span class="custom-text text-decoration-underline"><strong>Experience</strong></span>
                    <span><strong>Experience Type:</strong> {{
                        candidateData.candidateExperienceData.candidate.experienceType
                        }}</span>
                    <span><strong>Notice Period:</strong> {{
                        candidateData.candidateExperienceData.candidate.noticePeriod }}
                        days</span>
                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <tr class="small-header">
                                <th>Company</th>
                                <th>Total Experience (Years)</th>
                                <th>Last Working Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let exp of candidateData.candidateExperienceData.experienceDto">
                                <td class="small-header">{{ exp.companyName }}</td>
                                <td class="small-header">{{ exp.totalExperience }}</td>
                                <td class="small-header">{{ exp.lastOrStill_Working_Date | date: 'dd-MM-yyyy' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card p-2 mb-3">
                    <span class="custom-text text-decoration-underline"><strong>Interview</strong></span>
                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <tr class="small-header">
                                <th>Employee Id</th>
                                <th>Interview Date</th>
                                <th>Interview Time</th>
                                <th>Interviewer ID</th>
                                <th>Round Name</th>
                                <th>Place Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let exp of candidateData.interviewScheduleDto">
                                <td class="small-header">{{ exp.employeeid }}</td>
                                <td class="small-header">{{ exp.interviewdate | date: 'dd-MMM-yyyy' }}</td>
                                <td class="small-header">{{ formatTime(exp.interviewtime) }}</td>
                                <td class="small-header">{{ exp.interview_employeeid }}</td>
                                <td class="small-header">{{ exp.roundName }}</td>
                                <td class="small-header">{{ exp.placeName }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <ng-template #noCandidateData>
                <div class="alert alert-warning text-center">
                    No Candidate data available.
                </div>
            </ng-template>
        </div>
    </div>
</ng-template>




<div class="loader attDnceLoadr" *ngIf="isLoading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>